.container {max-width: 600px;
background-color: #D7E9F5;
padding: 15px;
border: gray solid 5px;
}
body {background-color: #0C3642;}
.left-list {float: left;
  width: 50%;
}
.right-list {float: right;
  width: 50%;

}

*{box-sizing: border-box;}
